
				
			<section id="AZepisodes" class="clearfix whiteBG">
			
				<h1 class="AZepisodesHeading">A - Z</h1>
				
				<nav class="AZnav clearfix">
					<ul class="clearfix">
						<li class="leftMost"><a href="#">A<span class="point"></span></a></li>
						<li><a href="#">B<span class="point"></span></a></li>
						<li class="active"><a href="#">C<span class="point"></span></a></li>
						<li><a href="#">D<span class="point"></span></a></li>
						<li><a href="#">E<span class="point"></span></a></li>
						<li><a href="#">F<span class="point"></span></a></li>
						<li><a href="#">G<span class="point"></span></a></li>
						<li><a href="#">H<span class="point"></span></a></li>
						<li><a href="#">I<span class="point"></span></a></li>
						<li class="leftMost"><a href="#">J<span class="point"></span></a></li>
						<li><a href="#">K<span class="point"></span></a></li>
						<li><a href="#">L<span class="point"></span></a></li>
						<li><a href="#">M<span class="point"></span></a></li>
						<li><a href="#">N<span class="point"></span></a></li>
						<li><a href="#">O<span class="point"></span></a></li>
						<li><a href="#">P<span class="point"></span></a></li>
						<li><a href="#">Q<span class="point"></span></a></li>
						<li><a href="#">R<span class="point"></span></a></li>
						<li class="leftMost"><a href="#">S<span class="point"></span></a></li>
						<li><a href="#">T<span class="point"></span></a></li>
						<li><a href="#">U<span class="point"></span></a></li>
						<li><a href="#">V<span class="point"></span></a></li>
						<li><a href="#">W<span class="point"></span></a></li>
						<li><a href="#">X<span class="point"></span></a></li>
						<li><a href="#">Y<span class="point"></span></a></li>
						<li><span>Z<span class="point"></span></span></li>
						<li><a href="#">0-9<span class="point"></span></a></li>								
					</ul>
				</nav>
				
				<div class="episodeGroup clearfix underlined">
					
					<h2 class="AZepisodesHeading2">A</h2>

					<div class="episodeCont clearfix">
						<article class="episode clearfix">
							<a href="#">
								<img src="images/resources/az_1.jpg" width="160" height="91" alt="Az 1">
							</a>
							<h1><a href="#">A Bipolar Expedition</a></h1>
						</article>
						
						<article class="episode clearfix">
							<a href="#">
								<img src="images/resources/az_2.jpg" width="160" height="91" alt="Az 2">
							</a>
							<h1><a href="#">A Boy Called Alex: The Concert</a></h1>
						</article>
						
						<article class="episode clearfix">
							<a href="#">
								<img src="images/resources/az_3.jpg" width="160" height="91" alt="Az 3">
							</a>
							<h1><a href="#">A Cook on the Wild Side</a></h1>
						</article>
						
						<article class="episode clearfix">
							<a href="#">
								<img src="images/resources/az_4.jpg" width="160" height="91" alt="Az 4">
							</a>
							<h1><a href="#">A Dance to the Music of Time</a></h1>
						</article>
						
						<article class="episode clearfix">
							<a href="#">
								<img src="images/resources/az_5.jpg" width="160" height="91" alt="Az 5">
							</a>
							<h1><a href="#">A Harlot's Progress</a></h1>
						</article>
						
						<article class="episode clearfix">
							<a href="#">
								<img src="images/resources/az_6.jpg" width="160" height="91" alt="Az 6">
							</a>
							<h1><a href="#">A Jihad for Love</a></h1>
						</article>
						
						<article class="episode clearfix">
							<a href="#">
								<img src="images/resources/az_7.jpg" width="160" height="91" alt="Az 7">
							</a>
							<h1><a href="#">A Million Pound Place in the Sun</a></h1>
						</article>
					</div>

					<!-- If more than 50 items need to display this button -->
					<div id="showMoreContainer">
						<div>
							<button type="button"><span>Show more</span></button>
						</div>
					</div>

				</div>
			</section>
			
			<hr class="dottedRule clearfix topMargin" />

			<div class="backToTop clearfix">
				<a id="topLink" href="#container"><span class="upChevron"></span>Back to top</a>
			</div>
			
