
		
			<div class="headerCont clearfix">
				<h1>Peep Show</h1>

				<aside>
					<p>Sponsored by <img src="img/resources/heineken_sponsor.jpg" width="62" height="47" alt="Heineken"></p>
				</aside>
			</div>
			
			<div class="seriesCont clearfix">
				<nav class="seriesNav clearfix">
					
					<div class="latest">
					 	<a href="#">Latest<span class="point"></span></a>
					</div>
					<div class="all active">
					 	<a href="#">All episodes<span class="point"></span></a>
					</div>
					
				</nav>	
			</div>

			<hr class="shadowRule2" />

			<!-- When flatten brand do not show, when in latest view do not show-->
			<div id="seriesSynopsis">
				<h2>About the series</h2>
				<p>Channel 4's longest running, multi-award-winning sitcom returns for a seventh series and follows Mark and Jeremy from the birth of Mark's baby to little Ian's christening. We meet Mark's parents for the first time as the boys attempt to celebrate a traditional family Christmas, while a disastrous New Year's Eve party crawl culminates with Mark and Jeremy facing choices that could end their friendship - forever.</p>
			</div>

			<section id="episodeList">
				
				<div class="episodeGroup clearfix underlined">
					
					<article class="episode clearfix">

						<div class="screenshotCont">
							<a href="#"><img class="screenShot" src="img/resources/episode_1.jpg" width="160" height="91" alt="Episode 1"></a>
						</div>

						<div class="details">
							<h1>Very very very veryveryveryveryvery long episode title here 23 23  we </h1>
							<p>10pm Tue 18 June, 2011</hp>
							<p>Channel 4 (27min)</p>
							<p class="daysLeft">26 days left</p>
						</div>
						<div class="rightLinks">
							<a class="seeAll" href="episode.html"><span>More</span></a>
						</div>	

					</article>
					
					<article class="episode clearfix">

						<div class="screenshotCont">
							<a href="#"><img class="screenShot" src="img/resources/episode_2.jpg" width="160" height="91" alt="Episode 2"></a>
						</div>

						<div class="details">

							<h1>Episode 2</h1>
							<p>10pm Tue 18 June, 2011</p>
							<p>Channel 4 (27min) <span class="guidance"><span>This episode contains parental guidance</span></span></p>
							<p class="daysLeft">26 days left</p>
						</div>
						<div class="rightLinks">
							<a class="seeAll" href="episode.html"><span>More</span></a>
						</div>

					</article>
					
				</div><!-- episodeGroup ends -->		
				
				<div class="episodeGroup clearfix underlined">
					
					<article class="episode clearfix">

						<div class="screenshotCont">
							<a href="#"><img class="screenShot" src="img/resources/episode_2.jpg" width="160" height="91" alt="Episode 2"></a>
						</div>

						<div class="details">
							<h1>Episode 3</h1>
							<p>10pm Tue 18 June, 2011</p>
							<p>Channel 4 (27min)</p>
							<p class="daysLeft">26 days left</p>
						</div>
						<div class="rightLinks">
							<a class="seeAll" href="episode.html"><span>More</span></a>
						</div>

					</article>

					<article class="episode clearfix">

						<div class="screenshotCont">
							<a href="#"><img class="screenShot" src="img/resources/episode_2.jpg" width="160" height="91" alt="Episode 2"></a>
						</div>

						<div class="details">
							<h1>Episode 4</h1>
							<p>10pm Tue 18 June, 2011</p>
							<p>Channel 4 (27min)</p>
							<p class="daysLeft">26 days left</p>
						</div>
						<div class="rightLinks">
							<a class="seeAll" href="episode.html"><span>More</span></a>
						</div>

					</article>
					
				</div><!-- episodeGroup ends -->				
				
				<div class="episodeGroup clearfix underlined">
		
					<article class="episode clearfix">
				
						<div class="screenshotCont">
							<a href="#"><img class="screenShot" src="img/resources/episode_4.jpg" width="160" height="91" alt="Episode 4"></a>
						</div>
				
						<div class="details">
							<h1>Episode 5</h1>
							<p>10pm Tue 18 June, 2011</p>
							<p>Channel 4 (27min)</p>
							<p class="daysLeft">26 days left</p>
						</div>
						<div class="rightLinks">
							<a class="seeAll" href="episode.html"><span>More</span></a>
						</div>
				
					</article>
					
				</div><!-- episodeGroup ends -->	
				
			</section>
			
			<div id="aboutTheShow">
				<div>
					<h2>About the Show</h2>
					<p>Award-winning sitcom. David Mitchell and Robert Webb play two dysfunctional flatmates who reveal all their inner thoughts - whether dark, stupid or embarrassing. Or, occasionally, all three...</p>
				</div>
			</div>

			<hr class="dottedRule clearfix topMargin" />

			<div class="backToTop clearfix">
				<a id="topLink" href="#container"><span class="upChevron"></span>Back to top</a>
			</div>

