<div class="catchUpDate update clearfix">

    <h3>Aug 19 - 25</h3>

    <nav class="datesNav clearfix">

        <ul class="clearfix">
            <!--
            <li class="forward"><a href="#"><span>Back</span></a></li>
            -->
            <li class="forward"><div class="inactive"><span>Back</span></div></li>

            <li><a href="#">Fri<br>19<span class="point"></span></a></li>
            <li class="active"><a href="#">Sat<br>20<span class="point"></span></a></li>
            <li><a href="#">Sun<br>21<span class="point"></span></a></li>
            <li><a href="#">Mon<br>22<span class="point"></span></a></li>
            <li><a href="#">Tue<br>23<span class="point"></span></a></li>

            <li class="active textLink">
                <a href="#">Yesterday<span class="point"></span></a>
            </li>

            <li class="textLink">
                <a href="#">Today<span class="point"></span></a>
            </li>

            <li class="back"><a href="#"><span>Forward</span></a></li>

            <!--
            <li class="back"><div class="inactive"><span>Forward</span></a></div></li>
            -->
        </ul>

    </nav>

</div>

<hr class="shadowRule2" />

<div id="main" role="main">

    <section id="episodeList">

        <h2 class="dateSubheading">7am</h2>

        <div class="episodeGroup clearfix underlined">

            <article class="episode clearfix">

                <div class="screenshotCont">
                    <img class="screenShot" src="images/resources/episode_1.jpg" width="160" height="91" alt="Episode 1">
                </div>

                <div class="details">
                    <h1>One Born Every Minute sakjdh ksajdhf ksjahd </h1>
                    <p>Series 4 Episode 6 some long text</p>
                    <p>(27min) <strong>26 days left more long text</strong></p>
                </div>
                <div class="rightLinks">
                    <a class="seeAll" href="#"><span>See all</span></a>
                </div>

            </article>

            <article class="episode clearfix">

                <div class="screenshotCont">
                    <img class="screenShot" src="images/resources/episode_2.jpg" width="160" height="91" alt="Episode 2">
                </div>

                <div class="details">
                    <h1>Dispatches</h1>
                    <p>Secret NHS Diaries
                        <span class="guidance"><span>This episode contains parental guidance</span></span>
                        <span class="subtitles">This program has subtitles</span>
                    </p>
                    <p>(27min) <strong>5 days left</strong></p>
                </div>
                <div class="rightLinks">
                    <a class="seeAll" href="#"><span>See all</span></a>
                </div>

            </article>

        </div><!-- episodeGroup ends -->

        <h2 class="dateSubheading">8am</h2>

        <div class="episodeGroup clearfix underlined">

            <article class="episode clearfix">

                <div class="screenshotCont">
                    <img class="screenShot" src="images/resources/episode_2.jpg" width="160" height="91" alt="Episode 2">
                </div>

                <div class="details">
                    <h1>Glee</h1>
                    <p>Series 2 Episode 6</p>
                    <p>(31min) <strong>8 days left</strong></p>
                </div>
                <div class="rightLinks">
                    <a class="seeAll" href="#"><span>See all</span></a>
                </div>

            </article>

        </div><!-- episodeGroup ends -->

        <h2 class="dateSubheading">8:30am</h2>

        <div class="episodeGroup clearfix underlined">

            <article class="episode clearfix">

                <div class="screenshotCont">
                    <img class="screenShot" src="images/resources/episode_4.jpg" width="160" height="91" alt="Episode 4">
                </div>

                <div class="details">
                    <h1>The Best of the Word</h1>
                    <p>Series 4 Episode 6</p>
                    <p>(60min) <strong>26 days left</strong></p>
                </div>
                <div class="rightLinks">
                    <a class="seeAll" href="#"><span>See all</span></a>
                </div>

            </article>

        </div><!-- episodeGroup ends -->

        <div class="backToTop clearfix">
            <a id="topLink" href="#container"><span class="upChevron"></span>Back to top</a>
        </div>

    </section>

</div>