
			<div class="headerCont clearfix">
				<h1>Peep Show</h1>

				<aside>
					<p>Sponsored by <img src="img/resources/heineken_sponsor.jpg" width="62" height="47" alt="Heineken"></p>
				</aside>
			</div>
			
			<div class="seriesCont">
				<nav class="seriesNav clearfix">
				            <!-- when showing the latest series -->
				            
				            
				                
				                <div class="latest">
				                    
				                    
				                    <a href="/4oD-web/programmes/8-out-of-10-cats/">
				                        Latest<span class="point"></span></a>
				                </div>

				                <h3>Series:</h3>
				                <ul>
				                    
				                        
				                            

				                            <li>
				                        

				                        <a href="/4oD-web/programmes/8-out-of-10-cats/series-1/">
				                            1<span class="point"></span>
				                        </a>
				                        </li>
				                    
				                        
				                            

				                            <li>
				                        

				                        <a href="/4oD-web/programmes/8-out-of-10-cats/series-3/">
				                            3<span class="point"></span>
				                        </a>
				                        </li>
				                    
				                        
				                            

				                            <li>
				                        

				                        <a href="/4oD-web/programmes/8-out-of-10-cats/series-4/">
				                            4<span class="point"></span>
				                        </a>
				                        </li>
				                    
				                        
				                            

				                            <li>
				                        

				                        <a href="/4oD-web/programmes/8-out-of-10-cats/series-5/">
				                            5<span class="point"></span>
				                        </a>
				                        </li>
				                    
				                        
				                            

				                            <li>
				                        

				                        <a href="/4oD-web/programmes/8-out-of-10-cats/series-6/">
				                            6<span class="point"></span>
				                        </a>
				                        </li>
				                    
				                        
				                            

				                            <li>
				                        

				                        <a href="/4oD-web/programmes/8-out-of-10-cats/series-7/">
				                            7<span class="point"></span>
				                        </a>
				                        </li>
				                    
				                        
				                            

				                            <li>
				                        

				                        <a href="/4oD-web/programmes/8-out-of-10-cats/series-8/">
				                            8<span class="point"></span>
				                        </a>
				                        </li>
				                    
				                        
				                            

				                            <li>
				                        

				                        <a href="/4oD-web/programmes/8-out-of-10-cats/series-9/">
				                            9<span class="point"></span>
				                        </a>
				                        </li>
				                    
				                        
				                            

				                            <li>
				                        

				                        <a href="/4oD-web/programmes/8-out-of-10-cats/series-10/">
				                            10<span class="point"></span>
				                        </a>
				                        </li>
				                    
				                        
				                            

				                            <li>
				                        

				                        <a href="/4oD-web/programmes/8-out-of-10-cats/series-11/">
				                            11<span class="point"></span>
				                        </a>
				                        </li>
				                    
				                        
				                            
				                                <li class="active">
				                            

				                            
				                        

				                        <a href="/4oD-web/programmes/8-out-of-10-cats/series-12/">
				                            12<span class="point"></span>
				                        </a>
				                        </li>
				                    
				                </ul>
				        </nav>
			</div>

			<hr class="shadowRule2" />

			<div class="episodeNav clearfix">
				
				<ul>

					<li class="back">
						<a href="#">
							<span class="leftChevron"></span>						
							<span>Back</span>
						</a>
					</li>

					<!--
					<li>
						<div class="inactive">
							<span>Next episode</span>
							<span class="rightChevron"></span>
						</div>
					</li>
					-->
					<li>
						<a href="#">
							<span>Next episode</span>
							<span class="rightChevron"></span>
						</a>
					</li>

					<!--
					<li>
						<a href="#">
							<span class="leftChevron"></span>						
							<span>Prev episode</span>
						</a>
					</li>
					-->
					
					<li>
						<div class="inactive">
							<span class="leftChevron"></span>						
							<span>Prev episode</span>
						</div>
					</li>
				
				</ul>
				
			</div>

			<section id="episodeDetail">
					
				<article>

					<div class="clearfix">
						<div class="screenshotCont">
							<a href="#" title="Play programme"><img class="screenShot" src="img/resources/episode_6.jpg" width="241" height="137" alt="Episode 5"></a>
						</div>
						
						<div class="details">
							<h1>Peep Show</h1>
							<p>Episode 2 Series 2 (27min)</p>
							<p>10pm Wed 19 June, 2011</p>
							<p> <strong>26 days left more long text</strong></p>
							<div class="playBut"><a href="#">Play this episode</a></div>
						</div>
					</div>

					<div class="guidance clearfix">
						<h2><span>Parental Guidance</span></h2>
						<p>Very strong language and uncompromising adult content which some viewers will find offensive</p>
					</div>

					<div class="synopsis">
						<p>Despite being bullied on the street by the local children, Mark sets himself the task of sleeping with the divorcee Toni next door, basing his seduction technique on the Battle of Stalingrad. But part of his plan includes humiliating his flatmate Jeremy, who vows revenge.</p>
					</div>
					
					<div class="support">
						<h2>Support</h2>
						<p>Support information about gender identity and many other issues can be found at e4.com/Peepshow.</p>
					</div>

				</article>

			</section>

			<hr class="dottedRule clearfix topMargin" />

			<div class="backToTop clearfix">
				<a id="topLink" href="#container"><span class="upChevron"></span>Back to top</a>
			</div>

