<nav class="primary clearfix" ng-controller="NavController">
    <ul class="clearfix">
        <li ng-class="{ active: isActive('/')}"  class="recommends"><a href="/">4oD Recommends</a></li>
        <li ng-class="{ active: isActive('/catch-up')}" class="catchUp"><a href="/catch-up">Catch Up</a></li>
        <li ng-class="{ active: isActive('/categories')}" class="categories"><a href="/categories">Categories</a></li>
        <li ng-class="{ active: isActive('/a-z')}" class="a-z"><a href="/a-z">A - Z</a></li>
    </ul>
</nav>