
			
			<!-- PIN Success -->
			
			<section class="parentalControl">
				
				<h1 class="AZepisodesHeading">Success</h1>
				
				<div class="pinSuccess">
					
					<p>New PIN code has been set.</p>
				
					<ul>
						<li class="proceed">
							<a href="#">
								<span class="chevronRight"></span>
								Proceed
							</a>
						</li>
						<li class="disablePin">
							<span class="chevronLeft"></span>							
							<a href="#">Disable PIN</a>
						</li>
					</ul>
					
				</div>
				
								
				<div class="pinMessage">
					
					<h2>PIN protected content</h2>
					
					<p>Channel4.com provides access to content reflecting the broad range of Channel 4's programmes which may be unsuitable for younger viewers.</p>

					<p>In order to help you control access to the content on Channel4.com from your computer, we have provided a PIN (Personal Identification Number) system. This will enable you to set a PIN to prevent anyone viewing the content you choose to restrict access to. You may find this helpful to ensure children and younger viewers in your household can only view content that is appropriate for them.</p>

					<p>For more information about PIN Access, please read our Help Section.</p>

					<p>Channel 4 is a member of the UK Council for Child Internet Safety.</p>
					
					<span class="ukccis">UKCCIS: UK Council for Child Internet Safety</span>
					
					<div class="backToTop clearfix">
						<a id="topLink" href="#container"><span class="upChevron"></span>Back to top</a>
					</div>
					
				</div>
				
			</section>
			
			
			

			
			
