
			
			<!-- PIN Enable -->

			<section class="parentalControl">
				
				<h1 class="AZepisodesHeading">Parental Control</h1>
				
				<div class="pinMessage">
					
					<p>Your PIN can be set at one of two levels: All rated content (16+ years of age only) or 
						18 rated content only (18+ years of age only). Please read our 
						<a href="#">Terms and Conditions</a> for more info.
					</p>
					
				</div>
				
				<form id="pinForm" action="#" class="enable">
					
					<fieldset class="radioGroup clearfix">
					
						<input type="radio" name="pControl" id="pControl1" value="16" checked="checked"/>
						
						<div class="rightLabel">
							
							<span class="sixteen">
								16 icon
							</span>
							
							<div>
								<label for="pControl1">16+ all rated content</label>
								<p>If you choose to set it for All rated content (16+), then anyone wishing to view content suitable only for users over 16 years of age will need the PIN.</p>
							</div>
							
						</div>
					
					</fieldset>
					
					<fieldset class="radioGroup clearfix">
					
						<input type="radio" name="pControl" id="pControl2" value="18" />
						
						<div class="rightLabel">
							
							<span class="eighteen">
								18 icon
							</span>
							
							<div>
								<label for="pControl2">18+ rated content</label>
								<p>If you choose to set it at 18 rated content (18+), then anyone wishing to view content suitable only for users over 18 years of age will need the PIN.</p>
							</div>
							
						</div>
					
					</fieldset>
					
					<fieldset class="confirm">
					
						<input type="checkbox" name="confirmation" id="confirmation" value="terms" />
						<div>
							<label for="confirmation">I confirm that I have read the <a href="">Terms and Conditions</a>, and that I am 18 years of age or older.</label>
						</div>
						
						<div id="tsncsErrorSpace">
						
						</div>
						
					</fieldset>
					
					<fieldset class="enterPin">
						
						<h2>Enter PIN</h2>
						
						<p class="label">Please enter your chosen 4-digit PIN</p>
						
						<div class="numberRow">
							
							<input id="pinInput1" type="number" max="9" min="0" maxlength="1" />
							<input id="pinInput2" type="number" max="9" min="0" maxlength="1" />
							<input id="pinInput3" type="number" max="9" min="0" maxlength="1" />
							<input id="pinInput4" type="number" max="9" min="0" maxlength="1" />
					
							<input class="enablePin" type="submit" value="Enable PIN" />
							
						</div>
						
						<div id="errorSpace">
						
						</div>
						
						<p>Your PIN will be required in order to view rated content each time you log on to 4oD but only once per session. You'll have to enter your PIN for each programme you want to view, but you can watch as many episodes of that programme you like without being prompted for your PIN again (until you close your browser to end your session).</p>

						<p>If you share your PIN with, or allow your PIN to be accessed by, anyone else and it is entered by them, then all content on 4oD will be accessible, including 18 rated content suitable only for adults. Please keep your PIN secure.</p>
						
							
					</fieldset>
					
				</form>
				
				<div class="pinMessage">
					
					<h2>PIN protected content</h2>
					
					<p>Channel4.com provides access to content reflecting the broad range of Channel 4's programmes which may be unsuitable for younger viewers.</p>

					<p>In order to help you control access to the content on Channel4.com from your computer, we have provided a PIN (Personal Identification Number) system. This will enable you to set a PIN to prevent anyone viewing the content you choose to restrict access to. You may find this helpful to ensure children and younger viewers in your household can only view content that is appropriate for them.</p>

					<p>For more information about PIN Access, please read our Help Section.</p>

					<p>Channel 4 is a member of the UK Council for Child Internet Safety.</p>
					
					<span class="ukccis">UKCCIS: UK Council for Child Internet Safety</span>
					
					<div class="backToTop clearfix">
						<a id="topLink" href="#container"><span class="upChevron"></span>Back to top</a>
					</div>
					
				</div>
				
			</section>

			
